@page "/countries/{CountryId}"

@if (!IsVisible)
{
	<p>Data is loading...</p>
}

else
{
	<div class="container-fluid">
		<div class="d-flex justify-content-center">
			<Card Style="width:35rem;" Class="m-2 bg-body-tertiary container ">
				<CardBody Class="mx-0 px-0">
					<CardTitle Class="m-0 p-0">
						<div class="bg-warning w-100">
							<div class="text-center text-white fw-bold fs-1 py-3">@countryDashboard?.Name?.Official</div>
						</div>
					</CardTitle>
				</CardBody>
				<div class="flag-wrapper mb-3 px-2">
					<img class="flag-img" src="@countryDashboard?.Flags?.Svg" alt="Country flag" />
				</div>
				<ul class="list-group list-group-flush">
					@if (countryDashboard?.Capital != null && !string.IsNullOrWhiteSpace(countryDashboard.Capital[0]))
					{
						<li class="list-group-item">
							<div><span class="text-success-emphasis fw-bolder">Capital: </span>@countryDashboard.Capital[0]</div>
						</li>
					}

					<li class="list-group-item">
						@if (countryDashboard?.Languages != null && countryDashboard.Languages.Any())
						{
							<div>
								<span class="text-success-emphasis fw-bolder">Oficial language(s): </span>
								<ul>
									@foreach (var language in countryDashboard.Languages)
									{
										<li>@language.Value</li>
									}
								</ul>
							</div>
						}
					</li>
					<li class="list-group-item">
						<div><span class="text-success-emphasis fw-bolder">Population: </span>@string.Format("{0:N0}", countryDashboard?.Population) people</div>
					</li>
					<li class="list-group-item">
						<div><span class="text-success-emphasis fw-bolder">Area: </span>@string.Format("{0:N0}", countryDashboard?.Area) km<sup>2</sup></div>
					</li>
					<li class="list-group-item">
						@if (countryDashboard?.Currencies != null && countryDashboard.Currencies.Any())
						{
							<div>
								<span class="text-success-emphasis fw-bolder">Oficial currency(ies): </span>
								<ul>
									@foreach (var currency in countryDashboard.Currencies)
									{

										<li>@currency.Value.CurrencyName</li>
									}
								</ul>
							</div>
						}
					</li>
				</ul>
				<CardBody Class="d-flex flex-row justify-content-evenly bg-body-tertiary">
					<Button Class="btn-outline-primary" @onclick="() => NavigateToMain()">Back to main page</Button>
					<Button Class="btn-success" @onclick="() => NavigateToList()">Back to the list</Button>
				</CardBody>
			</Card>
		</div>
	</div>
}