@page "/opgave"

@if(isSuccess)
{
    <div class="container-fluid overflow-x-auto">
        <LineChart @ref="lineChart" Width="800" />
    </div>
    <Button Color="ButtonColor.Primary" @onclick="LoadData">
        Refresh
    </Button>
    <Grid TItem="FuelViewModel"
          Class="table table-hover table-bordered table-striped"
          DataProvider="DataProvider"
          PageSize="5"
          Responsive="true">
        <GridColumns>
            <GridColumn TItem="FuelViewModel" HeaderText="FuelType" PropertyName="FuelType">
                @context.FuelType
            </GridColumn>
            <GridColumn TItem="FuelViewModel" HeaderText="LastPrice" PropertyName="LastPrice">
                @context.LastPrice
            </GridColumn>
            <GridColumn TItem="FuelViewModel" HeaderText="AvaragePrice" PropertyName="AvaragePrice" SortKeySelector="item => item.AvaragePrice">
                @context.AvaragePrice
            </GridColumn>
            <GridColumn TItem="FuelViewModel" HeaderText="Mediana" PropertyName="Mediana" SortKeySelector="item => item.Mediana">
                @context.Mediana
            </GridColumn>
            <GridColumn TItem="FuelViewModel" HeaderText="Variance" PropertyName="Variance" SortKeySelector="item => item.Variance">
                @context.Variance
            </GridColumn>
        </GridColumns>
    </Grid>
}

else
{
    <div class="alert alert-danger">
        @_Warning
    </div>
}
